/Ejercicio1_GUI/nbproject/private/
/Ejercicio1_GUI/build/
/3Etapa.EjercicioGUI.2/nbproject/private/
/3Etapa.EjercicioGUI.2/build/
/CONVERTIDOR/nbproject/private/
/CONVERTIDOR/build/
/3Etapa.EjercicioGUI.3/nbproject/private/
/3Etapa.EjercicioGUI.3/build/
/3Etapa.EjergicioGUI.4/nbproject/private/
/3Etapa.EjergicioGUI.4/build/
/ejercicioLoginFX/nbproject/private/
/ejercicioLoginFX/build/
/ejercicioLoginFX/dist/
/ejercicioConvertidorTempFX/nbproject/private/
/ejercicioConvertidorTempFX/build/
/ejercicioConvertidorTempFX/dist/